html {
    height: 100%;
}

body {
    background: url('/media/pt-jackAttack-homepage.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.list-inline-item {
    text-align: center; /* Center the content horizontally */
}

.list-inline-item a {
    display: block; /* Display the anchor tag as block to contain its content */
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.card {
    border-radius: 15px; /* Increased border radius for a softer look */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Enhanced shadow */
    padding: 15px; /* Added padding for space inside the card */
    margin-bottom: 20px; /* Added margin between cards */
    background-color: #fff; /* Added background color to make cards stand out */
    transition: transform 0.3s ease-in-out; /* Smooth transition on hover */
}

.card:hover {
    transform: translateY(-5px); /* Lift the card slightly on hover */
}

.card-img-top {
    border-top-left-radius: 15px; /* Adjusted border radius for image */
    border-top-right-radius: 15px; /* Adjusted border radius for image */
    object-fit: cover;
    height: 200px; /* Set a fixed height for the image */
}

.card-title {
    font-size: 1.5rem; /* Increased font size for the title */
    color: #333; /* Darkened text color for better contrast */
    margin-bottom: 10px; /* Added margin below the title */
}

.card-footer {
    border-top: none;
    padding-top: 10px; /* Added padding to separate footer from body */
}

.card-footer p {
    font-size: 1.25rem; /* Reduced font size for price */
    color: #212427 !important; /* Price color */
}


.checkout-button {
    margin-top: 10px; /* Added margin above the button */
    background-color: #007bff; /* Button color */
    color: #fff; /* Button text color */
    border: none; /* Removed button border */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    font-weight: bold;
}

.checkout-button:hover {
    background-color: #0056b3; /* Darker color on hover */
}

.learn-more-link,
.learn-more-link a {
    text-decoration: none !important; /* Remove underline */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.learn-more-link:hover {
    background-color: #f0f0f0 !important; /* Change background color on hover */
}

.service-page-top {
    margin-top: 15px;
}

.product_details_image {
    width: 100%; /* Make the image width 100% of its container */
    height: auto; /* Maintain aspect ratio */
}

.btn-black {
    background-color: black; /* Set background color to black */
    color: white; /* Set text color to white */
    border: none; /* Remove border */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.btn-black:hover {
    background-color: #222; /* Darken background color on hover */
    color: white; /* Set text color to white */
}

.file-upload {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 2px solid #007bff;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.products-btn {
    margin-top: 15px;
}

.banner {
    align-items: center;
    text-align: center;
}

.signin-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-top: 200px;
  }
  
  .signin-container h1 {
    text-align: center;
  }
  
  .socialaccount_ballot {
    margin-top: 20px;
  }
  
  .socialaccount_ballot .socialaccount_providers {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .socialaccount_ballot .login-or {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .login-form {
    margin-top: 20px;
  }
  
  .forgot-password {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
  
  .signin-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signout-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 150px;
  }
  
  .signout-container h1 {
    margin-top: 0;
  }
  
  .signout-container p {
    margin-bottom: 20px;
  }
  
  .signout-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .confirm-email-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 250px;
  }
  
  .confirm-email-container h1 {
    margin-top: 0;
  }
  
  .confirm-email-container p {
    margin-bottom: 20px;
  }
  
  .confirm-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signup-box {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .signup-box h1 {
    margin-top: 0;
  }
  
  .signup-box p {
    margin-bottom: 20px;
  }
  
  .signup-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
    
  .verification-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .verification-box {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .verification-box h1 {
    margin-top: 0;
  }
  
  .verification-box p {
    margin-bottom: 20px;
  }
  
  .change-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .change-password-box {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .change-password-box h1 {
    margin-top: 0;
  }
  
  .change-password-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .password-reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .password-reset-box {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .password-reset-box h1 {
    margin-top: 0;
  }
  
  .password-reset-box p {
    margin-bottom: 20px;
  }
  
  .reset-password-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .fbook_link{
    padding-left: 15px;
  }
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #111010;
    color: #fff; 
    padding: 1rem 0;
    font-size: 0.875rem;
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.2);
    border-top: 3px solid #f7b731; 
  }

  .footer .container {
    display: flex;
    flex-direction: column; /* stack children vertically */
    justify-content: center; /* center children horizontally */
    align-items: center; /* center children vertically */
    text-align: center; /* ensure text is centered if flex properties fail */
  }

  .copyright {
    margin-top: 10px;
  }

  .fas {
    margin-right: 7px;
  }
  
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 576px) {
    .logo-font {
        margin-top: 100px; /* Adjust the margin-top value as needed */
    }

    .navbar-nav .nav-item,
    .navbar-nav .nav-link {
        margin-top: 10px !important; /* Removes space above each item/link */
        margin-bottom: 0 !important; /* Removes space below each item/link */
        padding-top: 0 !important; /* Removes padding above each link */
        padding-bottom: 0 !important; /* Removes padding below each link */
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .logo-font {
        margin-top: 100px; /* Adjust the margin-top value as needed */
    }
    .navbar-nav .nav-item,
    .navbar-nav .nav-link {
        margin-top: 10px !important; /* Removes space above each item/link */
        margin-bottom: 0 !important; /* Removes space below each item/link */
        padding-top: 0 !important; /* Removes padding above each link */
        padding-bottom: 0 !important; /* Removes padding below each link */
    }
}