html {
    height: 100%;
}

body {
    background: url('/media/pt-jackAttack-homepage.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.list-inline-item {
    text-align: center; /* Center the content horizontally */
}

.list-inline-item a {
    display: block; /* Display the anchor tag as block to contain its content */
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.card {
    border-radius: 15px; /* Increased border radius for a softer look */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Enhanced shadow */
    padding: 15px; /* Added padding for space inside the card */
    margin-bottom: 20px; /* Added margin between cards */
    background-color: #fff; /* Added background color to make cards stand out */
    transition: transform 0.3s ease-in-out; /* Smooth transition on hover */
}

.card:hover {
    transform: translateY(-5px); /* Lift the card slightly on hover */
}

.card-img-top {
    border-top-left-radius: 15px; /* Adjusted border radius for image */
    border-top-right-radius: 15px; /* Adjusted border radius for image */
    object-fit: cover;
    height: 200px; /* Set a fixed height for the image */
}

.card-title {
    font-size: 1.5rem; /* Increased font size for the title */
    color: #333; /* Darkened text color for better contrast */
    margin-bottom: 10px; /* Added margin below the title */
}

.card-footer {
    border-top: none;
    padding-top: 10px; /* Added padding to separate footer from body */
}

.card-footer p {
    font-size: 1.25rem; /* Reduced font size for price */
    color: #212427 !important; /* Price color */
}


.checkout-button {
    margin-top: 10px; /* Added margin above the button */
    background-color: #007bff; /* Button color */
    color: #fff; /* Button text color */
    border: none; /* Removed button border */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    font-weight: bold;
}

.checkout-button:hover {
    background-color: #0056b3; /* Darker color on hover */
}

.learn-more-link,
.learn-more-link a {
    text-decoration: none !important; /* Remove underline */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.learn-more-link:hover {
    background-color: #f0f0f0 !important; /* Change background color on hover */
}

.service-page-top {
    margin-top: 15px;
}

.product_details_image {
    width: 100%; /* Make the image width 100% of its container */
    height: auto; /* Maintain aspect ratio */
}

.btn-black {
    background-color: black; /* Set background color to black */
    color: white; /* Set text color to white */
    border: none; /* Remove border */
    transition: background-color 0.3s ease; /* Smooth transition */
    margin-top: 15px;
}

.btn-black:hover {
    background-color: #222; /* Darken background color on hover */
    color: white; /* Set text color to white */
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 576px) {
    .logo-font {
        margin-top: 100px; /* Adjust the margin-top value as needed */
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .logo-font {
        margin-top: 100px; /* Adjust the margin-top value as needed */
    }
}