<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-training-services-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Training Services
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-training-services-link">
                <a href="{% url 'products' %}?q=Training%20plan" class="dropdown-item">Training plan</a>
                <a href="{% url 'products' %}?q=Online%20training" class="dropdown-item">Online training</a>
                <a href="{% url 'products' %}?q=1-ON-1%20Training" class="dropdown-item">1-ON-1 Training</a>
                <a href="{% url 'products' %}" class="dropdown-item">All training services</a>
            </div>
        </li>

        <li class="nav-item"> <!-- Removed dropdown class -->
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'about' %}" id="about-me-link">
                About Me <!-- Changed to a normal link -->
            </a>
        </li>

        <li class="nav-item"> <!-- Removed dropdown class -->
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'result' %}" id="about-me-link">
                Results & Reviews <!-- Changed to a normal link -->
            </a>
        </li>

        <li class="nav-item"> <!-- Removed dropdown class -->
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'contact' %}" id="about-me-link">
                Contact Me <!-- Changed to a normal link -->
            </a>
        </li>
    </ul>
</div>